* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* Some other possible descendant combinators:

div p
div .text
.container p */